@model PruebaAyu.Models.Phone

<div class="phonenumber">
    <p>
        <label>Phone number</label>
        @Html.TextBoxFor(p => p.PhoneNumber)
        <input type="button" value="Remove"/>
    </p>
</div>